:root {
  --purple: #8a2be2;
  --gray: #eff2f5;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  background-color: var(--gray);
  display: flex;
  border-radius: 15px;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLeft {
  border-right: 2px dashed var(--purple);
}

.loginLogo {
  font-size: 8em;
  font-weight: 800;
  color: var(--purple);
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 20px;
}

.loginBox {
  height: 25vh;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  box-shadow: 2px 3px 32px 0px rgba(93, 74, 74, 0.6);
  -webkit-box-shadow: 2px 3px 32px 0px rgba(93, 74, 74, 0.6);
  -moz-box-shadow: 2px 3px 32px 0px rgba(93, 74, 74, 0.6);
}

.loginInput {
  height: 5vh;
  border-radius: 5px;
  border: 1px solid var(--gray);
  font-size: 1.1em;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButon:focus {
  outline: none;
}

.loginButon:disabled {
  cursor: not-allowed;
}

.loginButon,
.loginRegisterButon {
  height: 5vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--purple);
  font-size: 1.1em;
  font-weight: 500;

  color: var(--gray);
}

.Forgot {
  text-align: center;
  color: var(--purple);
  cursor: pointer;
}

.loginRegisterButon {
  width: fit-content;
  align-self: center;
  padding: 0 10px;
}

.loginNewActions {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
  align-items: center;
  width: 75%;
}
