:root {
  --purple: #8a2be2;
  --gray: #eff2f5;
}

.register {
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  background-color: var(--gray);
  display: flex;
  border-radius: 15px;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerLeft {
  border-right: 2px dashed var(--purple);
}

.registerLogo {
  font-size: 8em;
  font-weight: 800;
  color: var(--purple);
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 20px;
}

.registerBox {
  height: 45vh;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  align-self: center;
  box-shadow: 2px 3px 32px 0px rgba(93, 74, 74, 0.6);
  -webkit-box-shadow: 2px 3px 32px 0px rgba(93, 74, 74, 0.6);
  -moz-box-shadow: 2px 3px 32px 0px rgba(93, 74, 74, 0.6);
}

.registerInput {
  height: 5vh;
  border-radius: 5px;
  border: 1px solid var(--gray);
  font-size: 1.1em;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.registerButon,
.registerRegisterButon {
  height: 5vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--purple);
  font-size: 1.1em;
  font-weight: 500;

  color: var(--gray);
}

.registerRegisterButon {
  width: fit-content;
  align-self: center;
  padding: 0 10px;
}
