.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
}

.rightbarFollowingImg {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowingName {
  text-align: center;
}
